* {
    font-family: Roboto, sans-serif;
}

.back-button {
    position: absolute;
    top: 71px;
    left: 15px;
}

.page-content {
    padding-top: 56px;
    margin: 30px 90px;
}

.home-text {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 30%;
    -ms-transform: translate(-30%, -40%);
    transform: translate(-30%, -40%);
}

.home-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
}

.timeline-box {
    padding: 6px 16px
}